Repository opiproject/opi-poc, pull requests merged in 2022-08, with the labels that each got.

#243 storage: fix proto after linters
  storage/client/backend.go
  storage/client/frontend.go
  storage/go.mod
  storage/go.sum
  storage/server/backend.go
  storage/server/frontend.go
Labels: storage

#249 ci: avoid second build, pass sha
  .github/workflows/poc-storage.yml
Labels: docker, storage, CI

#248 ci: use docker cache to speed up build
  .github/workflows/poc-storage.yml
Labels: docker, storage, CI

#251 security: Add gRPC server and client
  security/client/README.md
  security/client/client.go
  security/client/go.mod
  security/client/go.sum
  security/client/ipsec.go
  security/docker-compose.yml
  security/server/README.md
  security/server/go.mod
  security/server/go.sum
  security/server/ipsec.go
  security/server/ipsec_messages.go
  security/server/server.go
Labels: security

#254 security: Change startup order
  security/docker-compose.yml
Labels: bug, security

#259 security: add server and client dockerfiles
  security/client/Dockerfile
  security/server/Dockerfile
Labels: docker, security

#263 security: add small test
  .github/workflows/poc-security.yml
Labels: CI, security

#261 storage: fixing exit code
  storage/scripts/poc.sh
Labels: storage, CI

#266 ci: use docker cache to speed up build
  .github/workflows/poc-security.yml
  .github/workflows/poc-storage.yml
Labels: CI

#269 storage: fix device naming
  storage/client/frontend.go
  storage/server/frontend.go
Labels: storage

#272 storage: security: add reflection
  security/server/go.mod
  security/server/go.sum
  security/server/server.go
  storage/server/go.mod
  storage/server/go.sum
  storage/server/server.go
Labels: storage, security

#273 storage: add grpc-cli to readme
  storage/README.md
Labels: documentation

#274 securtity: update readme
  security/README.md
Labels: security

#275 storage: adding docker ignore for spdk
  .github/workflows/poc-storage.yml
  integration/docker-compose.spdk.yml
  integration/docker-compose.xpu.yml
  storage/docker-compose.yml
  storage/spdk/.dockerignore
  storage/spdk/Dockerfile
  storage/spdk/README.md
Labels: docker, storage

#276 integration: add new nsci network
  integration/docker-compose.host.yml
  integration/docker-compose.networks.yml
  integration/docker-compose.xpu.yml
  integration/xPU-Integration-Blocks.png
Labels: docker

#281 dependabot: add go dependencies
  .github/dependabot.yml
Labels: dependencies, CI

#288 storage: add hugetls mount
  .github/workflows/poc-integration.yml
  .github/workflows/poc-storage.yml
  integration/docker-compose.spdk.yml
  integration/docker-compose.xpu.yml
  storage/docker-compose.yml
Labels: storage

#289 readme: document huge pages
  storage/README.md
Labels: documentation, storage

#291 Issue220 3
  security/README.md
  security/docker-compose.yml
  security/opi-security-poc.drawio.png
  security/server/go.mod
  security/server/go.sum
  security/server/ipsec.go
  security/server/ipsec_messages.go
  security/server/server.go
Labels: enhancement, security

#294 security: Implement IPsecGet()
  security/server/ipsec.go
Labels: enhancement, security

#295 grpc_cli: check more reflection
  .github/workflows/poc-security.yml
  storage/scripts/poc.sh
Labels: CI

#298 storage: add qemu documentation
  storage/README.md
  storage/qemu_spdk_setup.md
Labels: documentation, storage

#299 storage: add qemu HOTPLUG documentation
  storage/qemu_spdk_setup.md
Labels: documentation, storage

#302 storage: add qemu virtio-scsi doc
  storage/qemu_spdk_setup.md
Labels: documentation, storage

#306 security: Add example security PoC architecture diagram
  security/README.md
  security/sec-architecture.drawio.png
Labels: security

#307 storage: Add example storage PoC architecture diagram
  storage/OPI-storage-SPDK-bridge.png
  storage/README.md
Labels: documentation, storage

#308 dhcp: add cutom options
  integration/pxe/README.md
  integration/pxe/dhcpd.conf.template
Labels: documentation, provisioning

#309 security: Flesh out delete operations
  security/server/ipsec.go
  security/server/ipsec_vici.go
Labels: enhancement, security

#312 sztpd: allow external access
  integration/docker-compose.pxe.yml
  integration/pxe/Dockerfile.sztp
Labels: bug, provisioning

#314 security: Move to new security APIs
  security/README.md
  security/client/go.mod
  security/client/go.sum
  security/client/ipsec.go
  security/docker-compose.yml
  security/opi-security-poc.drawio.png
  security/server/go.mod
  security/server/go.sum
  security/server/ipsec.go
  security/server/ipsec_vici.go
  security/server/server.go
Labels: enhancement, security

#315 ci: add more security reflection
  .github/workflows/poc-security.yml
Labels: CI

#316 security: Connection up and down
  security/client/ipsec.go
  security/docker-compose.yml
  security/server/ipsec.go
  security/server/ipsec_vici.go
Labels: enhancement, security

#317 storage: update OPI-SPDK bridge diagram
  storage/OPI-storage-SPDK-bridge.png
Labels: documentation, storage

#319 security: Finish fleshing out connect
  security/client/client.go
  security/client/ipsec.go
  security/server/ipsec_vici.go
Labels: enhancement, security

#321 security: Implement IPsecVersion API
  security/client/ipsec.go
  security/server/ipsec.go
  security/server/ipsec_vici.go
Labels: enhancement, security

#326 security: Implement IPsecStats API
  security/client/ipsec.go
  security/server/ipsec.go
  security/server/ipsec_vici.go
Labels: enhancement, security

#327 security: Implement IPsecRekey API
  .github/workflows/poc-security.yml
  security/client/ipsec.go
  security/server/ipsec.go
  security/server/ipsec_vici.go
Labels: enhancement, security

#328 security: Implement IPsecListSas API
  security/client/go.mod
  security/client/go.sum
  security/client/ipsec.go
  security/server/go.mod
  security/server/go.sum
  security/server/ipsec.go
  security/server/ipsec_vici.go
  security/server/ipsec_vici_parse.go
Labels: enhancement, security

#333 security: Finish implementing APIs
  security/client/go.mod
  security/client/go.sum
  security/client/ipsec.go
  security/server/go.mod
  security/server/go.sum
  security/server/ipsec.go
  security/server/ipsec_vici.go
  security/server/ipsec_vici_parse.go
Labels: enhancement, security
